#footerDiv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 5rem;
}

#footerText {
  margin-top: 2rem;
  float: right;
  margin-right: 10rem;
}